{% extends 'base.html.twig' %}

{% block title %}Demandes{% endblock %}

{% block body %}
    <h1 class="mb-5">{{ email_contact }}</h1>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Demande</th>
            <th scope="col">Demande traité</th>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td>{{ request.name }}</td>
                <td>{{ request.content }}</td>
                <td>
                    <a href="{{ path('app_admin_request', {'id': request.id}) }}">
                        {% if request.isRequestFinished %}
                            <i class="far fa-check-square"></i>
                        {% else %}
                            <i><i class="far fa-square"></i></i>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="w-100 d-flex justify-content-center">
        <a href="{{ path('app_admin') }}" class="btn btn-success">Retour</a>
    </div>
{% endblock %}

